<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
          <div class="container">
      <h1>Welcome to Sun's OneMonth Python Project</h1>
      <p>Sun just started coding in Python exactly one month ago<p>
<a href="{{ url_for('index') }}">Home</a>
        </div>
          </div>
    </body>
</html>
